body{
    margin: 0;

}
.container{
    padding: 5% 3%;
}

.card{
    background-color: white;
    filter: drop-shadow(1px 1px 5px rgba(142, 144, 146, 0.773));
    font-family: "Barlow Semi Condensed", sans-serif;
    margin-bottom: 15px;
    border-radius: 10px;
}

.one{
    background-color: hsl(263, 55%, 52%);
    color: white;
    padding: 4%;
}

.two{
    background-color: hsl(217, 19%, 35%);
    color: white;
    padding: 4%;
}

.three{
    padding: 4%;
}
.four{
    background-color:hsl(219, 29%, 14%) ;
    color: white;
    padding: 4%;
}

.five{
    padding: 14%;
}

.profile{
    height: 42px;
    border-radius: 50%;
    
}
.header{
    display: flex;
    align-items: center;
    height: 42px;
    gap: 12px;
}

.header-text{
line-height: 7px;
}

h1{
    font-size: 16px;
}
h2{
    font-size: large;
    font-weight: 500;
}

p{
    font-size: 12px;
}

@media (min-width: 600px) { 

main{
    display: flex;
    height: 120vh;
    justify-content: center;
    align-items: center;
}
    .container{
        max-width: 1400px;
        display: flex;
        gap: 20px;
      
     
    }

    .row-1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 0;
    }
    .row-2{
        display: flex;
        flex-basis: 40%;
        gap: 10px;

    }

    .top, .bottom{
        flex-basis: 50%;

    }

    .top{
        display: flex;
        gap: 20px;
    }

    .bottom{
        display: flex;
        gap:20px;
    }
}